.page-actions
  if self.runtime.is_member
    button.btn.btn-secondary.btn-square.icon.icon-check(
      type='button'
      data-on-click='forum.index.recent:mark_read'
      title=self.t('mark_read')
    )
