@import '../common/variables.styl'

.fl-category
  margin-bottom baseLineHeight

  > header
    border-bottom 2px solid grayLighter
    margin-bottom (baseLineHeight/2)

    > h2
      display inline-block
      font-weight normal
      font-style italic
      color grayLight

.fl-cat-list
  margin 0
  list-style none

  > li
    padding 15px 0
    border-bottom 1px solid grayLightest
    min-height 40px

    &:last-child
      border 0

.fl-item-summary
  padding-left 2em
  -moz-box-sizing border-box
  box-sizing border-box

  > h3
    position relative
    font-weight normal
    line-height 1.1em
    font-family sansWideFontFamily

    &:before
      content ''

      position absolute
      left -20px
      top 0

      height 1.1em
      width 4px
      background-color grayLighter

    > a
      color grayDark

.unread > .fl-item-summary > h3:before
  background-color colorUnread
  width 6px

.fl-item-counters
  list-style none
  color gray
  font-size 13px
  font-family sansWideFontFamily

  > li
    line-height 1.2em

.fl-item-lastpost
  list-style none
  font-size 11px

  > li
    line-height 1.4em
    white-space nowrap
    overflow hidden
    text-overflow ellipsis

  > .lastpost-title > a
    color grayLight
    font-family sansWideFontFamily

  > .lastpost-user
  > .lastpost-user > a
    color gray

  > .lastpost-time
    font-size 9px
    color grayLight
    padding-left 0.3em
