.forum-reply
  .forum-reply__editor
  .forum-reply__buttons.form-actions
    button.forum-reply__save.btn.btn-primary(data-on-click='forum.reply.save')=self.t('reply_save')
    button.forum-reply__cancel.btn(data-on-click='forum.reply.cancel')=self.t('reply_cancel')
