// Forum "reply post" block
//

@import "nodeca.core/client/common/_variables"

.forum-reply
  font-family sansWideFontFamily
  padding 15px 10px
  margin-bottom baseLineHeight*2
  margin-left -10px
  border 1px solid grayLightest
  box-shadow 0 0 2px grayLighter
  border-radius 4px
  background-color #ffffee

.forum-reply__aside
  float left
  margin 0 15px 0 0

.forum-reply__content
  overflow hidden

.forum-reply__editor
  margin-bottom (baseLineHeight/2)
.forum-reply__editor > textarea
  box-sizing border-box
  width 100%
  margin 0
  min-height 150px
  box-shadow none

.forum-reply__options
  padding-left 0