@import "nodeca.core/client/common/_variables"


.topic-create__title
  margin-bottom 10px

.topic-create__editor
  margin-bottom (baseLineHeight/2)

.topic-create__editor-placeholder
  display block
  background-color #fff
  border 1px solid #ccc
  border-radius 4px
  height 200px

.topic-create__options-button
  padding-left 0
  padding-right 0

.topic-create__options
  display none
