- self.add_raw_data('setting_schemas',    self.setting_schemas)
- self.add_raw_data('settings',           self.settings)
- self.add_raw_data('parent_settings',    self.parent_settings)
- self.add_raw_data('usergroup_settings', self.usergroup_settings)


#content
  != self.partial('@admin.core.blocks.sidebar_menu')

  .main
    != self.partial('@admin.core.blocks.breadcrumbs', { menu: self.runtime.menus.admin, path: self.blocks.breadcrumbs })

    h1 #{self.head.title}

    form#group_permissions_edit_form.form-horizontal(data-bind="submit: save", style="display: none")
      fieldset
        legend #{self.usergroup_name}

        // ko foreach: settings
        .form-group.form-group-hover(data-bind="css: { overriden: overriden, inherited: inherited }")

          label.control-label.col-md-3(data-bind="text: localizedName, attr: { 'for': elementId }")

          .col-md-4.control-value
            // ko if: 'boolean' === type
            .switch
              input(type="checkbox", data-bind="checked: value, attr: { id: elementId }")
              label(data-yes=self.t('value_yes'), data-no=self.t('value_no'), data-bind="attr: { 'for': elementId }"): i
            // /ko

            // ko if: localizedHelp
            span.help-block(data-bind="text: localizedHelp")
            // /ko

          .col-md-4
            label.checkbox-inline
              input(type="checkbox", data-bind="checked: overriden")
              = self.t('checkbox_override')
        // /ko

      .form-group
        .col-md-9.col-md-offset-3
          button.btn.btn-primary(type="submit", data-bind="enable: isDirty")
            = self.t('button_save')
