- self.add_raw_data('setting_schemas',    self.setting_schemas)
- self.add_raw_data('settings',           self.settings)
- self.add_raw_data('parent_settings',    self.parent_settings)
- self.add_raw_data('usergroup_settings', self.usergroup_settings)


#content
  != self.partial('@admin.core.blocks.sidebar_menu')

  .main
    != self.partial('@admin.core.blocks.breadcrumbs')

    .page-head
      h1.page-head__title= self.head.title

    form#group_permissions_edit_form.form-horizontal(data-bind="submit: save", style="display: none")
      fieldset
        legend #{self.usergroup_name}

        // ko foreach: settings
        .row.form-group-hover.mb-3(data-bind="css: { overriden: overriden, inherited: inherited }")

          label.col-form-label.col-3(data-bind="text: localizedName, attr: { 'for': elementId }")

          .col-4.control-value
            // ko if: 'boolean' === type
            .switch
              input(type="checkbox", data-bind="checked: value, attr: { id: elementId }")
              label.form-label(data-yes=self.t('value_yes'), data-no=self.t('value_no'), data-bind="attr: { 'for': elementId }"): i
            // /ko

            // ko if: 'number' === type
            input.form-control(type="number", data-bind="value: value, valueUpdate: 'keyup', attr: { id: elementId }")
            // /ko

            // ko if: localizedHelp
            small.form-text.text-muted(data-bind="text: localizedHelp")
            // /ko

          .col-4
            .form-check
              label.form-check-label
                input.form-check-input(type="checkbox", data-bind="checked: overriden")
                = ' ' + self.t('checkbox_override')
        // /ko

      .row.mb-3
        .col-9.ml-auto
          button.btn.btn-primary(type="submit", data-bind="enable: isDirty")
            = self.t('button_save')
