.forum-edit.clearfix
  .forum-edit__aside
    img.av-l(src='http://lorempixel.com/150/150/sports/a' + '#{ Math.ceil(Math.random()*1000) }')

  .forum-edit__content
    .forum-edit__editor
      textarea
    .forum-edit__buttons.clearfix
      .forum-edit__buttons-blk.pull-right
        button.forum-edit__cancel.btn.btn-mini(data-on-click='forum.post.edit.cancel')=self.t('cancel')
        | 
        button.forum-edit__save.btn.btn-primary(data-on-click='forum.post.edit.save')=self.t('save')
      .forum-edit__buttons-blk.pull-left
        button.forum-edit__options.btn.btn-link=self.t('options')
