@import "nodeca.core/client/common/_variables"

// Override breadcrumbs layout to add inline button
.forum-index-recent .breadcrumbs
  display inline

.forum-index-recent__notopics
  margin-top 10px
  text-align center
