// Forum "reply post" block
//

@import "nodeca.core/client/common/_variables"

.forum-edit
  padding 15px 10px
  margin-bottom baseLineHeight*2
  margin-left -10px
  border 1px solid grayLightest
  box-shadow 0 0 2px grayLighter
  border-radius 4px
  background-color #f8f8f8

.forum-edit__aside
  float left
  margin 0 15px 0 0

.forum-edit__content
  overflow-x hidden

.forum-edit__editor
  margin-bottom (baseLineHeight/2)

.forum-edit__options-button
  padding-left 0
  padding-right 0

.forum-edit__editor > .mdedit__editor
  min-height 150px
  width 100%

.forum-edit__options
  display none
