// Forum "reply post" block
//

@import "nodeca.core/client/common/_variables"

.forum-edit
  padding 15px 7px
  margin-bottom baseLineHeight*2
  margin-left -10px
  border 1px solid grayLightest
  box-shadow 0 0 2px grayLighter
  border-radius 4px
  background-color #f8f8f8

.forum-edit__aside
  float left
  margin 0 12px 0 3px

.forum-edit__content
  padding 0 3px
  overflow hidden

.forum-edit__editor
  margin-bottom (baseLineHeight/2)

.forum-edit__editor-placeholder
  display block
  background-color #fff
  border 1px solid #ccc
  border-radius 4px
  height 200px

.forum-edit__options-button
  padding-left 0
  padding-right 0

.forum-edit__options
  display none
