// Forum "reply post" block
//

@import "nodeca.core/client/common/_variables"

.forum-edit
  font-family sansWideFontFamily
  padding 15px 10px
  margin-bottom baseLineHeight*2
  margin-left -10px
  border 1px solid grayLightest
  box-shadow 0 0 2px grayLighter
  border-radius 4px
  background-color #ffffee

.forum-edit__aside
  float left
  margin 0 15px 0 0

.forum-edit__content
  overflow hidden

.forum-edit__editor
  margin-bottom (baseLineHeight/2)

.forum-edit__editor > textarea
  font-family sansWideFontFamily
  box-sizing border-box
  width 100%
  margin 0
  min-height 150px
  box-shadow none

.forum-edit__options
  padding-left 0
  padding-right 0
