// Forum `index` styles.
//

@import "nodeca.core/client/common/_variables"

//
// Category block
//

.forum-category
  margin-bottom baseLineHeight * 1.5

.forum-category__head
  border-bottom 2px solid grayLighter
  transition opacity .3s ease

.forum-category__title
  font-weight normal
  font-style italic
  font-size 20px
  line-height 1.6em
  color grayLight
  margin 0
  white-space nowrap
  overflow hidden
  text-overflow ellipsis

a.forum-category__link
  color grayLight
  text-decoration none

a.forum-category__collapser
  color grayLight
  transition opacity .3s ease
  margin-left .5em
  opacity 0

//
// Transitions & states
//
.forum-category__title:hover .forum-category__collapser
  opacity 1

.collapsed .forum-category__head
  opacity .2

.collapsed:hover .forum-category__head
  opacity .7

// Show block with proper icon, depending on state
.collapsed .forum-category__collapser.icon-collapse
.forum-category__collapser.icon-expand
  display none

.collapsed .forum-category__collapser.icon-expand
  display inline-block


// Remove subsections border
.forum-category .forum-sections
  border-top 0
