- var subscriptionTypes = '$$ JSON.stringify(N.models.users.Subscription.types) $$'

- var icon;
- var text;

if (self.subscription === subscriptionTypes.TRACKING)
  - icon = 'icon-track-tracking'
  - text = self.t('tracking')
else if (self.subscription === subscriptionTypes.WATCHING)
  - icon = 'icon-track-watching'
  - text = self.t('watching')
else
  - icon = 'icon-track-normal'
  - text = self.t('normal')

button.btn.btn-secondary(data-on-click='forum.section.unsubscribe:edit' data-hid=self.section.hid data-subscription=self.subscription)
  span.icon(class=icon)
  = ' '
  = text
