#content.forum-section-unsubscribe
  != self.partial('@common.blocks.navbar.logo_apps')

  .layout__container.container-fluid
    != self.partial('@users.blocks.announces')

    header.page-head
      h1.page-head__title(itemprop='name')= self.t('title')

    - var url = self.link_to('forum.section', { section_hid: self.section.hid });
    - var link = '<a href="' + pug.escape(url) + '">' + pug.escape(self.section.title) + '</a>';
    != self.partial('button')
    = ' '
    != self.t('message', { link: link })
