.section-moderator-list
  list-style: none

.section-moderator-override-none
  &:link, &:visited
    color: #888888

.section-moderator-override-some-own
  &:link, &:visited
    color: #FFAA00

.section-moderator-override-some-inherited
  &:link, &:visited
    color: #FFCC88

.section-moderator-override-every-own
  &:link, &:visited
    color: #FF0000

.section-moderator-override-every-inherited
  &:link, &:visited
    color: #FF8888
