.page-progress
  padding 0

.page-progress > li
  display inline-block

.page-progress__graph
  width 100%
  border 1px solid grey
  padding 1px

.page-progress__bar
  background-color black
  height 5px
