$brand-primary        = #0275d8
$link-color           = $brand-primary
$body-color           = #2b2b2b
$body-color-secondary = #aeb9bf
$body-bg-secondary    = #f8f8f8
$font-size-sm         = 16px
$decorator-color      = #e3edf6

/////////////////////////////////////////////////////////////////////
// Reset
//
html
  box-sizing border-box
  font-family sans-serif
  line-height 1.15

*,
*::before,
*::after
  box-sizing: inherit;

body
  margin 0
  font-family -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif

  font-size 16px
  line-height 1.5
  color $body-color
  background-color #FFF

a
  color $link-color

p, ul, ol
  margin-top 0
  margin-bottom 16px

ol ol, ul ul, ol ul, ul ol
  margin-bottom 0

blockquote
  margin 0 0 16px

pre, code
  font-family Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace, monospace
  font-size 1em
pre
  margin-top 0
  margin-bottom 16px
  overflow auto
  padding 9.5px
  background $body-bg-secondary

blockquote
  margin 0 0 16px

hr
  margin 16px 0
  border 0
  border-top 1px solid $decorator-color

/////////////////////////////////////////////////////////////////////
// Outer wrappers
//
.nntp-art-head
  margin 0
  padding 10px 20px 0
  font-size 12px

.nntp-art-head__item
  color #aaa

.nntp-art-content
  margin 0
  padding 10px 20px


/////////////////////////////////////////////////////////////////////
// Markup
//
.markup
  overflow auto

  // External images
  .image
    max-width 100%
    display inline-block
    border-radius 2px
    position relative
    // protect from hidden images
    min-width 10px
    min-height 10px
    background-color #ccc

    & > img
      max-width 100%
      border-radius 2px
      position absolute

  .image__spacer
    display block

  // Attachments in text
  .thumb__image
    border-radius 2px

  .thumb
    margin-right 11px
    margin-bottom 11px

  .link
    text-decoration underline

  .link-banned
    color $link-color

  pre code
    white-space unset

  .ez-block
    margin-bottom 16px
    border-radius 2px

  .ez-player
    max-width 600px

  .ez-player-container
    border-radius 2px

  .emoji
    font-size 1.25em
    line-height 1em
    vertical-align middle
    color $body-color-secondary

  .image-collapsed
    &:before
      content '[image]'

/////////////////////////////////////////////////////////////////////
// Spoilers
//
.spoiler
  border-left 2px solid ($body-color-secondary + 55%)
  margin-bottom 16px

.spoiler__title
  background-color $body-bg-secondary + 50%
  font-size $font-size-sm
  font-weight bold
  padding 8px 16px
  &:before
    content '[spoiler] '
    font-weight normal
    color #aaa
    font-size 14px

.spoiler__inner
  overflow hidden

.spoiler__content
  padding 16px 16px 0
  margin-top 0
  margin-bottom -8px

/////////////////////////////////////////////////////////////////////
// Quotes
//
.quote
  background-color $body-bg-secondary + 50%
  border-radius 0 2px 2px 0
  color $body-color + 50%
  border-left 2px solid ($body-color-secondary + 55%)
  padding 16px

.quote__title
  //font-size $font-size-sm
  font-size 14px
  margin-top -8px
  margin-right -.5px
  padding 8px 0

.quote__author
  font-style normal

.quote__author-avatar
  display none

.quote__controls
  //margin-top -3px
  //margin-right -6px
  float right

.quote__collapse
.quote__expand
.quote__ref-local
  display none

.quote__ref-outer
  color $body-color + 50%
  text-decoration none
  &:hover
    color $body-color
  &:before
    content "↗"

.quote__content
  & > p:last-child
    margin-bottom 0

  .link
    color $link-color + 30%

/////////////////////////////////////////////////////////////////////
// Embedza player, without customized brand logos
//
.ez-player-container {
  position: relative;
  height: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000;
}

.ez-player-placeholder {
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  right: 0px;
  border: 0;
}

.ez-player-picture {
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  right: 0px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.ez-player-frame {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.ez-player-duration {
  position: absolute;
  right: 15px;
  bottom: 10px;
  color: #fff;
  font-size: 16px;
  text-shadow: 0 0 2px #000;
}

.ez-player-header {
  position: absolute;
  z-index: 20;
  left: 0;
  top: 0;
  right: 0;
  height: 50px;
  line-height: 50px;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.3), rgba(0,0,0,0));
}

.ez-player-title {
  padding: 0 15px;
  height: 50px;
  font-size: 18px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #fff;
  text-shadow: 0 0 2px #000;
}

.ez-player-title:hover {
  text-decoration: underline;
}

.ez-player-button {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Ccircle cx='256' cy='256' r='256' fill='%23000' fill-opacity='0.5' /%3E%3Cpath d='M396 238L184 116c-2-2-5-3-8-3-8 0-15 7-15 15v254c0 8 7 14 15 14l9-2 211-122c5-4 8-10 8-17s-3-13-8-17z' fill='%23eee' /%3E%3C/svg%3E");
  background-size: cover;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 80px;
  height: 80px;
  margin-left: -40px;
  margin-top: -40px;
  z-index: 10;
}

.ez-player-logo {
  display: none;
}


/////////////////////////////////////////////////////////////////////
// Attachments
//
thumbImageWidth  = '$$ N.config.users.uploads.resize.sm.max_width || N.config.users.uploads.resize.sm.width $$'px
thumbImageHeight = '$$ N.config.users.uploads.resize.sm.max_height || N.config.users.uploads.resize.sm.height $$'px
cornerRadius     = 3px
gridSpace        = 20px
gridSpaceTight   = 10px

//
// Grid to show thumbnails
//

.thumb-grid
  padding 0
  margin 0 (-1 * gridSpace / 2)

.thumb-grid__item
  display inline-block
  padding 0 (gridSpace / 2)
  margin 0 0 gridSpace
  border-radius 3px

.thumb-grid__m-tight
  margin 0 (-1 * gridSpaceTight / 2)
  .thumb-grid__item
    padding 0 (gridSpaceTight / 2)
    margin 0 0 gridSpaceTight

//
// Thumbnail container (link)
//

.thumb
  width thumbImageWidth
  height thumbImageHeight
  display inline-block
  text-align center
  position relative
  border-radius cornerRadius
  box-shadow 0 0 1px ($body-bg-secondary - 10%)
  background-color $body-bg-secondary

  &:before
    content ''
    height 100%
    display inline-block;
    vertical-align middle

// use inner only when realy need colored background
// for small images, like video previews
.thumb__inner
  display inline-block
  height 100%
  border-radius cornerRadius
  background-color #000
  vertical-align top

  &:before
    content ''
    height 100%
    display inline-block;
    vertical-align middle

.thumb__image
  max-width thumbImageWidth
  max-height thumbImageHeight
  border-radius cornerRadius
  display inline-block
  vertical-align middle
  text-align center


// Text content, when no image
.thumb__content
  display inline-block
  vertical-align middle
  max-width 100%
  padding 0 1em
  shortable()
