//
// Topics list
//
////////////////////////////////////////

.tl-thread-list
  font-family sansWideFontFamily
  margin 0
  list-style none
  > li
    padding 10px 0
    border-bottom 1px solid grayLightest
    //min-height 40px
    &:last-child
      border 0


// Threads block header (with page number)
//
.tl-thread-list .tl-head
  border-bottom 1px solid grayLighter
  font-size 10px
  font-weight bold
  padding 0


// Thread name/meta
//
.tl-item-summary
  padding-left 5px
  box-sizing border-box
  // IE7 hack
  *padding-left 0

  > h2
    position relative
    font-size 16px
    font-weight normal
    line-height (baseLineHeight*5/4)
    display inline-block
    margin 0 .7em 0 0
    > a
      color grayDark
      &:hover
        color linkColorHover
  > .tl-pages
    display inline-block


// inline pagination
.tl-pages
  display inline-block
  margin 0
  line-height 1em
  vertical-align top
  > li
    display inline-block
    line-height 1em
    > a
      background-color #fbfbfb
      border 1px solid grayLightest
      border-radius 3px
      color gray
      font-size 9px
      margin-right 2px
      padding 0 5px

// author/time/preview links
.tl-meta
  color grayLight
  margin-left 10px
  font-size 11px
  line-height (baseLineHeight*3/4)
  > a
    color grayLight
    &:hover
      color linkColorHover
  > time
    font-style italic
    margin-left 1em

.tl-item-summary
  > .tl-meta > a.tl-preview-ctl
    transition opacity 0.3s ease
    float right
    color gray
    opacity 0
  &:hover > .tl-meta > a.tl-preview-ctl
    opacity 1


// topics/posts counters
//
.tl-item-counters
  list-style none
  color gray
  font-size 13px
  > li
    line-height baseLineHeight


// last post info
//
.tl-item-lastpost
  list-style none
  font-size 11px
  > li
    line-height (baseLineHeight*3/4)
    white-space nowrap
    overflow hidden
    text-overflow ellipsis
  > .lastpost-time > a
    color grayLight
  > .lastpost-user > a
    color gray


// Markers
//
.unread > .tl-item-summary
  padding-left 20px
  // IE7 hack
  *padding-left 0

  > h2
    font-weight bold
    &:before
      content ''
      position absolute
      left -15px
      top 3px
      height 19px
      background-color colorUnread
      width 7px
