router:
  http.get:
    forum.index:
      "/": ~

    forum.section:
      "/f{id}(/page{page})":
        id: /\d+/
        page:
          match: /[1-9]\d*/
          default: 1


    forum.thread:
      "/f{forum_id}/thread{id}(/page{page})":
        forum_id: /\d+/
        id: /\d+/
        page:
          match: /[1-9]\d*/
          default: 1

    admin.forum.index:
      "/forums": ~
