router:
  map:
    forum.index:
      "/": ~

    forum.section:
      # FIXME crutch, used until will not fix optional route parameters
      "/f{id}":
        id: /\d+/
        page: 1
      "/f{id}(/page{page})":
        id: /\d+/
        page:
          match: /[2-9]|[1-9]\d+/
          default: 1


    forum.thread:
      # FIXME crutch, used until will not fix optional route parameters
      "/f{forum_id}/thread{id}":
        forum_id: /\d+/
        id: /\d+/
        page: 1
      "/f{forum_id}/thread{id}(/page{page})":
        forum_id: /\d+/
        id: /\d+/
        page:
          match: /[2-9]|[1-9]\d+/
          default: 1

    admin.forum.index:
      "/forums": ~
