router:
  http.get:
    forum.index:
      "/": ~

    forum.section:
      "/f{id}(/page{page})":
        id: /\d+/
        page:
          match: /[1-9]\d*/
          default: 1


    forum.thread:
      "/f{forum_id}/thread{id}(/page{page})":
        forum_id: /\d+/
        id: /\d+/
        page:
          match: /[1-9]\d*/
          default: 1

    admin.forum.index:
      "/forums": ~

    admin.forum.section.index:
      "/forum/section": ~

    admin.forum.section.new:
      "/forum/section/new": ~

    admin.forum.section.edit:
      "/forum/section/{_id}":
        _id: /[0-9a-f]+/
