router:
  http.get:
    forum.index:
      "/": ~

    forum.section:
      "/f{hid}(/page{page})":
        hid: /\d+/
        page:
          match: /[1-9]\d*/
          default: 1


    forum.topic:
      "/f{section_hid}/topic{hid}(/page{page})":
        section_hid: /\d+/
        hid: /\d+/
        page:
          match: /[1-9]\d*/
          default: 1

    admin.forum.section.index:
      "/forum/section": ~

    admin.forum.section.new:
      "/forum/section/new": ~

    admin.forum.section.edit:
      "/forum/section/{_id}":
        _id: /[0-9a-f]+/

    admin.forum.group_permissions.index:
      "/forum/group_permissions": ~

    admin.forum.group_permissions.edit:
      "/forum/group_permissions/{section_id}/{usergroup_id}":
        section_id: /[0-9a-f]+/
        usergroup_id: /[0-9a-f]+/

    admin.forum.moderator.index:
      "/forum/moderator":

    admin.forum.moderator.edit:
      "/forum/moderator/{section_id}/{user_id}":
        section_id: /[0-9a-f]+/
        user_id: /[0-9a-f]+/
