router:
  http.get:
    forum.index:
      "/": ~

    forum.section:
      "/f{hid}(/page{page})":
        hid:
          match: /\d+/
          type: integer
        page:
          match: /[1-9]\d*/
          type: integer
          default: 1

    forum.topic:
      "/f{section_hid}/topic{topic_hid}(/page{page})":
        section_hid:
          match: /\d+/
          type: integer
        topic_hid:
          match: /\d+/
          type: integer
        page:
          match: /[1-9]\d*/
          type: integer
          default: 1

      "/f{section_hid}/topic{topic_hid}(/{post_hid})":
        section_hid:
          match: /\d+/
          type: integer
        topic_hid:
          match: /\d+/
          type: integer
        post_hid:
          match: /\d+/
          type: integer
          default: 1

    forum.topic.unsubscribe:
      "/f{section_hid}/topic{topic_hid}/unsubscribe":
        section_hid:
          match: /\d+/
          type: integer
        topic_hid:
          match: /\d+/
          type: integer

    admin.forum.section.index:
      "/forum/section": ~

    admin.forum.section.new:
      "/forum/section/new": ~

    admin.forum.section.edit:
      "/forum/section/{_id}":
        _id: /[0-9a-f]{24}/

    admin.forum.group_permissions.index:
      "/forum/group_permissions": ~

    admin.forum.group_permissions.edit:
      "/forum/group_permissions/{section_id}/{usergroup_id}":
        section_id: /[0-9a-f]{24}/
        usergroup_id: /[0-9a-f]{24}/

    admin.forum.moderator.index:
      "/forum/moderator":

    admin.forum.moderator.edit:
      "/forum/moderator/{section_id}/{user_id}":
        section_id: /[0-9a-f]{24}/
        user_id: /[0-9a-f]{24}/
