// Sections topics inline pagination
//

@import "nodeca.core/client/common/_variables"

.forum-pgn-micro
  display inline-block
  margin 0
  line-height 22px
  vertical-align top

.forum-pgn-micro__item
  display inline-block
  line-height 1em

a.forum-pgn-micro__link
  background-color #fbfbfb
  border 1px solid grayLightest
  border-radius 3px
  color gray
  font-size 9px
  margin-right 2px
  padding 0 5px
