@import "nodeca.core/client/common/_variables"

// if subforums exist - add space before control bar
.forum-threads-root .forum-sections
  margin-bottom 20px

.forum-topiclines
  font-family sansWideFontFamily
  margin-bottom 5px

.forum-section__nothreads
  margin-top 10px
  font-weight bold