@import "nodeca.core/client/common/_variables"

// if subforums exist - add space before control bar
.forum-section-root .forum-sections
  margin-bottom 30px

.forum-topiclist
  display table
  table-layout fixed
  border-collapse collapse
  margin-bottom 5px
  width 100%

.forum-section__notopics
  margin-top 10px
  text-align center

// display subsections only if first page is visible
.forum-section-root .forum-sections
  display none

.forum-section-root__m-first-page .forum-sections
  display block

// disable pager if we have prefetch
.js .forum-section__page-links
  display none

// TODO: move to separate block when menu complete
.forum-section__tracking
  margin-top baseLineHeight
  shortable()

.forum-section__tracking-btn
  margin-right .5em


.forum-topicline__m-deleted
.forum-topicline__m-deleted-hard
  .forum-topicline__bookmarked-marker
    display none
