@import "nodeca.core/client/common/_variables"

// if subforums exist - add space before control bar
.forum-section-root .forum-sections
  margin-bottom 30px

.forum-topiclines
  margin-bottom 5px

.forum-section__notopics
  margin-top 10px
  text-align center
