.navbar-alt__inner.btn-toolbar
  .btn-group.pull-left
    != self.partial('@forum.topic.blocks.page_progress', self.page_progress)

  .navbar-alt__title.pull-left= self.topic.title

  if self.settings.forum_can_reply
    button.forum-topic-menu__reply.btn.btn-primary.icon.icon-plus.pull-right(
      data-on-click='forum.topic:reply'
      type='button'
      title=self.t('post_add')
    )

  .pull-right
    != self.partial('@forum.topic.blocks.dropdown_menu')
