.pull-xs-left
  != self.partial('@forum.topic.blocks.page_progress', self.page_progress)

.pull-xs-left.navbar-nav
  a.navbar__level-up.nav-link.icon.icon-level-up(
    href=self.link_to('forum.section', { section_hid: self.section.hid, topic_hid: self.topic.hid })
  )

.pull-xs-right
  != self.partial('@forum.topic.blocks.toolbar_controls')

.navbar-alt__title= self.topic.title
