.pull-left
  a.navbar__level-up.icon.icon-level-up(
    href=self.link_to('forum.section', { section_hid: self.section.hid, topic_hid: self.topic.hid })
  )

  != self.partial('@forum.topic.blocks.page_progress', self.page_progress)

.pull-right
  != self.partial('@forum.topic.blocks.toolbar_controls')

.navbar-alt__title= self.topic.title
