@import "nodeca.core/client/common/_variables"

.forum-postlist
  margin-top 10px

.forum-topic-title__edit
  color gray

.forum-topic__closed-mark
  display none

.forum-topic-menu__open
.forum-topic-menu__unpin
  display none

.forum-topic-root__m-closed
  .forum-topic__closed-mark
    display inline-block

  .forum-topic-menu__open
    display block
  .forum-topic-menu__close
  .forum-topic-menu__reply
    display none

  .forum-post__reply
    display none

.forum-topic-root__m-deleted
.forum-topic-root__m-deleted-hard
  .forum-topic-title__text
    text-decoration line-through

  .forum-topic-menu__close
  .forum-topic-menu__pin
  .forum-topic-menu__reply
    display none

  .forum-post__reply
    display none

  .forum-post:first-child
    .forum-post__delete
      display none

    .forum-post__undelete
      display block

.forum-topic-root__m-pinned
  .forum-topic-menu__unpin
    display block
  .forum-topic-menu__pin
    display none


// TODO: move to separate block when menu complete
.forum-topic__tracking
  margin-top baseLineHeight
  shortable()

.forum-topic__tracking-btn
  margin-right .5em
