@import "nodeca.core/client/common/_variables"

//
// Responsive popover
//

.forum-topic-root .votes-popover
  max-width 250px

@media (min-width: $grid-breakpoints.sm)
  .forum-topic-root .votes-popover
    max-width 400px

@media (min-width: $grid-breakpoints.md)
  .forum-topic-root .votes-popover
    max-width 600px

.forum-topic__reply
  padding-top 1.5rem
  border-top 1px solid $decorator-color
  margin-bottom 1.5rem

.forum-topic-title__edit
  display none
  font-size 1.25rem
  line-height 1.1em
  color $body-color-secondary
  vertical-align middle
  padding .125rem .5rem

.forum-topic__closed-mark
  display none

.forum-topic-root__m-open
  .forum-topic-title__edit
    display inline-block

.forum-topic-root__m-closed
  .forum-topic__closed-mark
    display inline-block

  .forum-post__reply
  .forum-topic__reply
    display none

.forum-topic-root__m-deleted
.forum-topic-root__m-deleted-hard
  .forum-topic-title__text
    text-decoration line-through

  .forum-post__reply
  .forum-topic__reply
    display none

  .forum-post__votes
  .forum-post__vote-up
  .forum-post__vote-down
  .forum-post__bookmark
    display none


// Only show this paginator when javascript is disabled
.forum-topic__footer-pagination
  text-align center
  display none

.no-js .forum-topic__footer-pagination
  display block

.forum-topic__loading-prev
.forum-topic__loading-next
  padding 2rem
  font-size 4rem
  line-height 1.1em
  text-align center
  background-color $body-bg-secondary
  color $body-color-secondary + 50%
  border-radius 4px
  margin-bottom 2rem
