@import "nodeca.core/client/common/_variables"

.forum-postlist
  margin-top 10px

.forum-topic-menu__close
  display none

.forum-topic-menu__open
  display none

.forum-topic-root__m-open
  .forum-topic-menu__close
    display block

.forum-topic-root__m-closed
  .forum-topic-menu__open
    display block

  .forum-topic-menu__reply
    display none

  .forum-post__reply
    display none
