@import "nodeca.core/client/common/_variables"

.post-history-dlg__entry
  margin-bottom 2rem

.post-history-dlg__meta
  flex 1 1 0%
  display flex
  border-bottom 1px solid $decorator-color
  padding-bottom .375rem
  margin-bottom 1rem
  color $body-color-secondary - 10%
  font-size $font-size-xs

.post-history-dlg__meta-author
  flex 1 1 0%
  font-size $font-size-base
  line-height 1.25em

.post-history-dlg__meta-author-link
  color inherit

.post-history-dlg__meta-ts
  white-space nowrap
  align-self flex-end
  padding-left 1rem

.post-history-dlg__title
  font-size $font-size-lg
