// Forum topics list. Used on forum `section` page
//

@import "nodeca.core/client/common/_variables"

// pages separator
.forum-topicline__separator
  border-bottom 1px solid grayLighter
  font-size 10px
  padding 0
  text-align center

//
// Topics lines
//

.forum-topicline
  padding 10px 0
  border-top 1px solid grayLightest
  // for link overlay
  position relative
  // hide border on first item
  &:first-child
    border 0
// hide border on item after page separator
.forum-topicline__separator + .forum-topicline
  border-top 0

.forum-topicline__m-pinned
  background #fafafa

.forum-topicline__m-closed
  background #e7e7e7

//
// First column
//

.forum-topicline__summary
  padding-left 5px
  padding-right 20px
  position relative

.forum-topicline__unread-marker
  position absolute
  display none
  left 5px
  top 50%
  line-height 0
  width 1px
  height 20px
  margin-top -10px
  background-color grayLighter

.forum-topicline__title
  font-family sansWideFontFamily
  position relative
  font-weight normal
  font-size 16px
  line-height inherit
  margin-top 0
  margin-bottom 0

.forum-topicline__title-link
  color grayDark
  &:hover
    color linkColorHover

.forum-topicline__meta
.forum-topicline__microstat
  color grayLight
  margin-left 10px
  line-height 1.6em
  font-size 12px

.forum-topicline__microstat
  font-size 11px
  shortable()

a.forum-topicline__author
  color grayLight
  &:hover
    color linkColorHover

.forum-topicline__time
  font-style italic
  margin-left 1em

.forum-topicline__enter
  position absolute
  right 0
  top 50%
  height 100%
  width 20px
  text-align center
  color grayLight
  &:before
    margin-right 0
    height 100%
    vertical-align middle
    font-size 18px
    line-height 0

// Enabled only for small screens
.forum-topicline__overlay
  position absolute
  top 0
  left 0
  width 100%
  height 100%
  z-index 10
  &:focus
    opacity .1
    background-color grayLighter
  &:hover
    opacity .1
    background-color grayLighter

//
// Second column (topics/posts counters)
//

.forum-topicline__counters
  list-style none
  font-size 12px
  color gray
  margin 0

.forum-topicline__counter-item
  text-align right
  shortable()

//
// Last column (latest post info)
//

.forum-topicline__lpost
  list-style none
  font-size 12px
  margin 0

.forum-topicline__lpost-user
.forum-topicline__lpost-time
  shortable()

a.forum-topicline__lpost-time-link
  color grayLight

a.forum-topicline__lpost-user-link
  color gray


// Markers
//
.unread
  .forum-topicline__summary
    padding-left 15px
  .forum-topicline__title
    font-weight bold

  .forum-topicline__unread-marker
    display block
    background-color colorUnread
    width 2px


.forum-topicline__summary .icon-closed
  display inline-block
  &:before
    margin-right 0
    margin-left .2em
    font-size 90%
    opacity .3
