// Forum topics list. Used on forum `section` page
//

@import "nodeca.core/client/common/_variables"

//
// Topics lines
//

.forum-topicline
  display table-row
  padding 10px 0
  border-top 1px solid grayLightest
  // hide border on first item
  //&:first-child
  //  border-top 0

.forum-topicline__cell
  display table-cell
  padding-top 10px
  padding-bottom 10px

//
// First column
//

.forum-topicline__summary
  padding-left 5px
  padding-right 20px
  position relative
  width auto

.forum-topicline__title
  font-family sansWideFontFamily
  position relative
  font-weight normal
  font-size 16px
  line-height inherit
  margin-top 0
  margin-bottom 0

.forum-topicline__title-link
  color grayDark
  &:hover
    color linkColorHover

.forum-topicline__meta
.forum-topicline__meta-deleted
.forum-topicline__meta-hellbanned
.forum-topicline__microstat
  color grayLight
  margin-left 10px
  line-height 1.6em
  font-size 12px

.forum-topicline__meta-hellbanned
  display none

.forum-topicline__microstat
  font-size 11px
  shortable()

a.forum-topicline__author
  color grayLight
  &:hover
    color linkColorHover

.forum-topicline__time
  font-style italic
  margin-left 1em

.forum-topicline__enter
  position absolute
  right 0
  top 50%
  height 100%
  width 20px
  text-align center
  color grayLight
  &:before
    margin-right 0
    height 100%
    vertical-align middle
    font-size 18px
    line-height 0

// Enabled only for small screens
.forum-topicline__overlay
  position absolute
  top 0
  left 0
  width 100%
  height 100%
  z-index 10
  &:focus
  &:hover
    background-color rgba(grayLighter, 0.1)

//
// Second column (topics/posts counters)
//

.forum-topicline__counters
  width 130px
  list-style none
  font-size 12px
  color gray
  margin 0

.forum-topicline__counter-item
  text-align right
  shortable()

//
// Last column (latest post info)
//

.forum-topicline__lpost
  width 190px
  list-style none
  font-size 12px
  margin 0

.forum-topicline__lpost-user
.forum-topicline__lpost-time
  shortable()

a.forum-topicline__lpost-time-link
  color grayLight

a.forum-topicline__lpost-user-link
  color gray

//
// Moderation column (checkboxes)
//

.forum-topicline__select
  width 30px
  text-align center
  vertical-align middle
.forum-topicline__select-cb
  position relative
  top 1px

// Markers
//
.forum-topicline__unread-marker
.forum-topicline__pinned-marker
.forum-topicline__closed-marker
.forum-topicline__deleted-marker
.forum-topicline__bookmarked-marker
.forum-topicline__new-marker
  display none


.forum-topicline__new-marker
  position absolute
  left 7px
  line-height 0
  width 6px
  height 6px
  border-radius 10px
  margin-top -3px
  top 50%
  background-color grayLighter


.forum-topicline__m-ignored
  background-color grayLightest

.forum-topicline__m-selected
  background-color #ffd

.forum-topicline__m-new
  .forum-topicline__summary
    padding-left 20px
  .forum-topicline__new-marker
    display block
    background-color colorUnread

.forum-topicline__m-unread
  .forum-topicline__title
    font-weight bold

.forum-topicline__m-pinned
  .forum-topicline__pinned-marker
    display inline-block

.forum-topicline__m-hellbanned
  background-color #f0f0f0
  opacity 0.7
  &:hover
    opacity 1
  .forum-topicline__meta
  .forum-topicline__microstat
    display none !important
  .forum-topicline__meta-hellbanned
    display inline-block
  .forum-topicline__lpost
  .forum-topicline__counters
    // Should not use display:none - table layout will be broken,
    // if deleted topic appears at first line.
    visibility hidden

.forum-topicline__m-closed
  .forum-topicline__closed-marker
    display inline-block
  opacity .8


.forum-topicline__m-deleted
.forum-topicline__m-deleted-hard
  background-color #f0f0f0
  opacity 0.7
  &:hover
    opacity 1
  .forum-topicline__deleted-marker
    display inline-block
  .forum-topicline__meta
  .forum-topicline__microstat
    display none !important
  .forum-topicline__lpost
  .forum-topicline__counters
    // Should not use display:none - table layout will be broken,
    // if deleted topic appears at first line.
    visibility hidden

.forum-topicline__m-bookmarked
  .forum-topicline__bookmarked-marker
    display inline-block

@keyframes forum-topicline-flash-animation {
  from  { background: #bbeeff;  }
  to    { background: none; }
}

.forum-topicline__m-highlight
  animation forum-topicline-flash-animation 3s
  border-left 1px solid #428bca
