// Forum topics list. Used on forum `section` page
//

@import "nodeca.core/client/common/_variables"

//
// Topics lines
//

.forum-topicline
  display flex
  align-items center
  padding .5rem 0

//
// First column
//

.forum-topicline__summary
  flex 1 1 0%
  padding .125rem 0 .125rem .875rem
  position relative
  width auto
  // for ellipsis in second line on narrow screens
  min-width 0

.forum-topicline__title
  position relative
  font-weight normal
  font-size $font-size-base
  //font-family $font-family-sans-serif-wide
  line-height 1.3
  margin-top 0
  margin-bottom 0

.forum-topicline__title-link
  color $body-color

.forum-topicline__microstat
  color $body-color-secondary
  font-size $font-size-xs
  shortable()

.forum-topicline__microstat-replies
  margin-right .5em
  &:after
    content '·'
    margin-left .5em

.forum-topicline__microstat-time
  margin-right .5em
  color inherit
  &:after
    content ','

.forum-topicline__microstat-author
.forum-topicline__meta-del-by
  color inherit


.forum-topicline__meta-deleted
.forum-topicline__meta-hellbanned
.forum-topicline__meta-ignored
  color $body-color-secondary
  font-size $font-size-xs
  shortable()

.forum-topicline__meta-hellbanned
.forum-topicline__meta-ignored
  display none


// Enabled only for small screens
.forum-topicline__overlay
  position absolute
  top 0
  left 0
  width 100%
  height 100%
  z-index 10

//
// Second columns
//

.forum-topicline__stat
  flex 0 0 0%
  min-width 6rem
  font-size $font-size-sm
  color $body-color-secondary + 30%
  text-align right
  .icon
    visibility hidden

.forum-topicline:first-child > .forum-topicline__stat .icon
  visibility visible


//
// Moderation column (checkboxes)
//

.forum-topicline__select
  flex 0 0 0%
  min-width 3rem
  text-align right
  margin 0
  padding .5rem 0
.forum-topicline__select-cb
  position relative
  top 1px

// Markers
//
.forum-topicline__unread-marker
  position absolute
  left 0
  top 0
  bottom 0
  width .125rem
  border-radius 0.125rem
  background-color $decorator-aside-color

.forum-topicline__highlight-marker
  display none
  position absolute
  left 0
  width .125rem
  height 1rem
  top 50%
  margin-top -.5rem
  background-color $brand-success


.forum-topicline__new-marker
  display none
  color $brand-success
  font-size $font-size-xs
  margin-left .5em
  vertical-align top

.forum-topicline__pinned-marker
.forum-topicline__closed-marker
  color $brand-primary
  display none

.forum-topicline__bookmarked-marker
  color $brand-success
  display none

.forum-topicline__deleted-marker
  display none


// Marker toggles
//
.forum-topicline__m-unread
  .forum-topicline__unread-marker
    background-color $brand-primary

.forum-topicline__m-new
  .forum-topicline__new-marker
    display inline-block

.forum-topicline__m-pinned
  .forum-topicline__pinned-marker
    display inline-block

.forum-topicline__m-bookmarked
  .forum-topicline__bookmarked-marker
    display inline-block

.forum-topicline__m-closed
  opacity .8
  .forum-topicline__closed-marker
    display inline-block



.forum-topicline__m-ignored
  background-color $deleted-bg
  opacity 0.7
  &:hover
    opacity 1
  .forum-topicline__meta-ignored
    display block


.forum-topicline__m-hellbanned
  background-color $deleted-bg
  opacity 0.7
  &:hover
    opacity 1
  .forum-topicline__microstat
    display none !important
  .forum-topicline__meta-hellbanned
    display block

.forum-topicline__m-deleted
.forum-topicline__m-deleted-hard
  background-color $deleted-bg
  opacity 0.7
  &:hover
    opacity 1
  .forum-topicline__deleted-marker
    display inline-block
  .forum-topicline__microstat
    display none !important

@keyframes forum-topicline-flash-animation {
  from  { background: $decorator-color;  }
  to    { background: none; }
}


.forum-topicline__m-highlight
  animation forum-topicline-flash-animation 1.5s
  .forum-topicline__highlight-marker
    display block

.forum-topicline__m-selected
  background-color #ffd

//
// Separator
//
.forum-topiclist__separator
  align-items baseline
  font-size $font-size-xs
  color $body-color-secondary + 20%
  display flex
  gap .75rem

  &::before, &::after
    border-top 1px solid $decorator-color
    padding-bottom .25em
    flex 1 1 auto
    content ''
