- self.add_raw_data('current_section', self.current_section)
- self.add_raw_data('allowed_parents', self.allowed_parents)


#content
  != self.partial('@admin.core.blocks.sidebar_menu', { menu: self.runtime.menus.admin })

  .main
    != self.partial('@admin.core.blocks.breadcrumbs', { menu: self.runtime.menus.admin, path: self.blocks.breadcrumbs })

    h1 #{self.head.title}

    != self.partial('@admin.forum.section.form')
