- self.add_raw_data('sections', self.sections)
- self.add_raw_data('users', self.users)

#content
  != self.partial('@admin.core.blocks.sidebar_menu')

  .main
    != self.partial('@admin.core.blocks.breadcrumbs')

    h1
      .pull-xs-right: a.btn.btn-primary(href=self.link_to('admin.forum.section.new')) #{self.t('new_section')}

      | #{self.head.title}


    .aforum-index__scontent
