- self.add_raw_data('sections', self.sections)
- self.add_raw_data('users', self.users)

#content
  != self.partial('@admin.core.blocks.sidebar_menu')

  .main
    != self.partial('@admin.core.blocks.breadcrumbs')

    .page-head
      .float-right
        a.btn.btn-sm.btn-secondary(href=self.link_to('admin.forum.section.new'))
          = self.t('new_section')

      h1.page-head__title= self.head.title

    .aforum-index__scontent
