.section-list, .section-form
  list-style: none

.section-control
  margin: 3px 0px
  padding: 5px
  background-color: #EFEFEF
  border: solid 1px #EAEAEA
  border-radius: 5px

.section-title
  margin: 5px 0px 5px 10px
  font-size: 12pt

.section-placeholder
  @extend .section-control
  height: 15px
  width: 600px
  background-color: #FFFB91
  border: solid 1px #FFF947

.section-children
  margin-left: 20px
