// Forum posts list. Used in forum `topic` page
//

@import "nodeca.core/client/common/_variables"


// Post styles

.forum-post
  margin-bottom 2rem

.forum-post__m-deleted
.forum-post__m-deleted-hard
  margin-bottom 3rem

.forum-post__m-deleted
.forum-post__m-hb
.forum-post__m-deleted-hard
.forum-post__m-ignored
  background-color $deleted-bg

//
// header
//

.forum-post__meta
  display flex
  align-items flex-end
  margin-bottom 1rem
  color $body-color-secondary
  //color darken($body-color-secondary, 10%)
  font-size $font-size-xs
  line-height 1.25em
  background-color white

.forum-post__meta-flex
  flex 1 1 0%
  display flex
  min-width 0
  border-bottom 1px solid $decorator-color
  padding-bottom .375rem

.forum-post__meta-avatar
  flex 0 0 0%
  display none
  min-width 45px
  vertical-align bottom

.forum-post__userpic-img-sm
  display inline-block
  width 36px
  height 36px
  border-radius 3px
  box-shadow 0 0 1px $body-color-secondary

.forum-post__meta-author
  flex 1 1 0%
  font-size $font-size-base
  line-height 1.25em
  color $body-color-secondary - 10%
  shortable()

.forum-post__meta-info
  white-space nowrap
  align-self flex-end
  padding-left 1rem

.forum-post__author
  color inherit

.forum-post__reply-to-link
  color inherit
  margin-right 1em

.forum-post__reply-to-avatar
  width 16px
  height 16px
  margin 0px 3px
  border-radius 2px
  box-shadow 0 0 1px $body-color-secondary

.forum-post__history
  color inherit
  margin-right 1em

.forum-post__link
  color inherit

.forum-post__select
  flex 0 0 0%
  border-bottom 1px solid $decorator-color
  min-width 2rem
  text-align center
  margin-bottom 0
  padding-bottom .5rem
.forum-post__select-cb
  position relative
  vertical-align text-bottom

//
// left / right columns
//

//$aside-size = '$$ N.config.users.avatars.resize.md.height $$'px
$aside-size = 100px
$aside-size-md = 80px

.forum-post__aside
  float left
  margin-top .125rem
  min-height 130px

.forum-post__userpic-img
  display inline-block
  width $aside-size
  height $aside-size
  border-radius 3px
  box-shadow 0 0 1px $body-color-secondary

.forum-post__content
  margin-right 0px
  margin-left $aside-size + 16px
  min-height $aside-size - 40 // Dont allow post controls to be above avatar bottom

@media (max-width: $grid-breakpoints.md - 1)
  .forum-post__userpic-img
    width $aside-size-md
    height $aside-size-md

  .forum-post__content
    margin-left $aside-size-md + 16px
    min-height $aside-size-md - 40 // Dont allow post controls to be above avatar bottom


.forum-post__message
  margin-top -.25rem
  padding-top .25rem

  & > p:first-child
    margin-top -.25rem // Compensate line-height 1.5 rem


.forum-post__content-collapsed
  padding 0 1rem
  font-size $font-size-sm
  color $body-color-secondary

.forum-post__m-no-meta
  .forum-post__content-collapsed
    padding 1rem

.forum-post__content-ignored
  display flex
  justify-content space-between
  padding 0 1rem 1rem 1rem
  font-size $font-size-sm
  color $body-color-secondary

@media (max-width: $grid-breakpoints.sm - 1)
  .forum-post__aside
    display none
  .forum-post__content
    min-height unset
  .forum-post__meta-avatar
    display block
  .forum-post__meta-flex
    padding-bottom .125rem
  .forum-post__select
    padding-bottom .8rem
  .forum-post__content
    margin 0
  .forum-post__meta-flex
    flex-direction column
  .forum-post__meta-author
    font-size $font-size-sm
  .forum-post__meta-info
    padding-left 0
    font-size $font-size-xs
    margin-bottom .125rem
    color $body-color-secondary + 20%
    align-self stretch

  .forum-post__reply-to-avatar
    width 12px
    height 12px

//
// content column
//

.forum-post__show-ignored
  color inherit
  cursor pointer

.forum-post__controls
  text-align right
  margin-left $aside-size + 16px

@media (max-width: $grid-breakpoints.md - 1)
  .forum-post__controls
    margin-left $aside-size-md + 16px


@media (max-width: $grid-breakpoints.sm - 1)
  .forum-post__controls
    margin-left 0

.forum-post__controls-blk
  margin 0
  padding 0
  list-style none

.forum-post__control-item
  display inline-block
  margin-right: 0px
  &:last-child
    margin-right: 0

.forum-post__infraction .icon
  color $brand-danger
.forum-post__infraction-m-warning .icon
  color $brand-warning

.forum-post__action
  background-color transparent
  color $body-color-secondary - 20%

  &:hover
  &:focus
  &:active
    background-color $body-bg-secondary

.forum-post__reply
  .forum-post__action
    color $brand-primary

  .short
    display none

@media (max-width: $grid-breakpoints.md - 1)
  .forum-post__reply
    .full
      display none
    .short
      display inline-block

//
// Hovering magick
//

.forum-post
  .forum-post__action
    transition opacity .3s ease
    opacity .3
  &:hover
    .forum-post__action
      opacity 1

.forum-post__votes
.forum-post__infraction
  .forum-post__action
    opacity 1

//
// Actions states
//
.forum-post__bookmark-remove
  display none

.forum-post__m-selected
  background-color #ffd

.forum-post__m-bookmarked
  .forum-post__bookmark-remove
    display inline-block
    opacity 1
    .icon
      color $brand-success
  .forum-post__bookmark-add
    display none

.forum-post__undelete
  display none

.forum-post__m-deleted
.forum-post__m-deleted-hard

  .forum-post__undelete
    display block

  .forum-post__votes
  .forum-post__vote-up
  .forum-post__vote-down
  .forum-post__bookmark
  .forum-post__edit
  .forum-post__delete
  .forum-post__reply
    display none

.forum-post__ignored-mark
  display none
.forum-post__m-ignored
  .forum-post__ignored-mark
    display inline-block

.forum-post__m-voted-up
  .forum-post__vote-up
    .forum-post__action
      opacity 1
    .icon
      color $brand-success

.forum-post__m-voted-down
  .forum-post__vote-down
    .forum-post__action
      opacity 1
    .icon
      color $brand-danger


.forum-post__bookmarks-count
  font-size $font-size-xs
  color $body-color-secondary

.forum-post__bookmarks-count:after
  content attr(data-bm-count)
  margin-left .3em

.forum-post__bookmarks-count[data-bm-count="0"]:after
  display none

.forum-post__votes
  .forum-post__action:after
    content attr(data-votes-count)
  .forum-post__action[data-votes-count="0"]
    display none
  .forum-post__action[data-votes-count^="+"]
    color $brand-success
    font-weight bold


@keyframes forum-post-flash-animation {
  from  { background: $decorator-color;  }
  to    { background: none; }
}

.forum-post__m-flash
  animation forum-post-flash-animation 1.5s ease-in
