// Forum posts list. Used in forum `topic` page
//

@import "nodeca.core/client/common/_variables"


// pages separator
.forum-postlist__separator
  font-family sansWideFontFamily
  font-size 10px
  font-weight bold
  padding 0 5px
  border-bottom 1px solid grayLighter
  margin-bottom (baseLineHeight/4)



// Post styles

.forum-post
  font-family sansWideFontFamily
  margin-bottom baseLineHeight

//
// header
//

.forum-post__meta
  background-color lighten(grayLightest, 70%)
  border 1px solid grayLightest
  border-radius 2px
  box-shadow 0 0 2px #f8f8f8
  padding 5px 15px
  margin-bottom:10px

.forum-post__meta-blk
  font-size 11px
  color gray
  height 20px
  line-height 20px

.forum-post__author
  color gray
  font-size 16px

.forum-post__link
  margin-left 1em
  font-size 14px
  &:before
    margin 0
    font-size 100%

.forum-post__check
  margin 0 0 0 1em !important
  vertical-align text-top


//
// left column
//

.forum-post__aside
  float left
  margin 5px 15px 0 0

//
// content column
//

.forum-post__content
  font-family sansWideFontFamily
  overflow hidden
  margin-right 10px

.forum-post__message
    margin-bottom 10px
    min-height 75px

.forum-post__controls-blk
  margin 0
  padding 0
  list-style none

.forum-post__control-item
    display inline-block
    margin-right: 15px
    &:last-child
      margin-right: 0

a.forum-post__action-link
  color grayDark
  text-decoration underline
  &:before
    color grayLight

// votes
.forum-post__vote-up
  margin-left .1em
  margin-right 0
  color #080
  text-shadow 1px 1px 1px rgba(127, 127, 127, 0.5)
  &:before
    font-size 100%
    margin 0
  &:hover
    color #4c4
    text-decoration none

.forum-post__vote-down
  margin-left 0
  margin-right .1em
  color #c00
  text-shadow 1px 1px 1px rgba(127, 127, 127, 0.5)
  &:before
    font-size 100%
    margin 0
  &:hover
    color #f44
    text-decoration none

//
// Hovering magick
//

.forum-post
  .forum-post__action-link
  .forum-post__vote-up
  .forum-post__vote-down
    transition opacity .3s ease
    opacity .2
.forum-post:hover
  .forum-post__action-link
  .forum-post__vote-up
  .forum-post__vote-down
    opacity 1
