.search-results
  .search-results__list
    != self.partial('@search.blocks.' + self.type)

  .search-results__loading-next.nojs-hide(
    class=(self.reached_end ? 'd-none' : '')
  )
    span.icon.icon-loading-placeholder
